*{
    margin: 0;
    padding: 0;
    
}
    
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url("images/abstract-yellow-gradient-background-vector.jpg");
    background-position: center;
    background-size: 100%;
    position: relative;
}
nav{
 
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    
    flex: 5;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    
    content: '';
    width: 0%;
    height: 2px;
    background: rgba(255, 0, 98, 0.733);
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.textbox{

    color: #fff;
    width: 80%;
    columns: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.textbox h1{
    font-size: 50px;
    color: rgba(250, 160, 213, 0.733);
    padding: 10%;
}
.textbox h2{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.733);
    padding: 20px;
}



.help-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 15px 34px;
    position: relative;
    cursor: pointer;
}
.help-btn:hover{
    border: 1px solid rgba(255, 0, 98, 0.733) ;
    background: rgba(255, 0, 98, 0.733);
    transition:1s;

}
/*-----contact us-----*/

.contactus{
    color: #fff;
    margin:  auto;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/cnt.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.contactus h3{
    color: #fff;
    margin-bottom: 40px;
    padding: 0%;
}
.cnt-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    position: relative;
    cursor: pointer;
}
.cnt-btn:hover{
    border: 1px solid rgba(248, 84, 147, 0.733) ;
    background: rgba(156, 129, 38, 0.651);
    transition:1s;
}

/*-----abtus------*/
.abtus{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/abstract-yellow-gradient-background-vector.jpg);
  
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 30px;
    align-items: center;
    

}
.abtus h5{
    
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
    left: 10%;
}

.ourcont{
    left: 0%;
    color: #fff;
    height: 50%;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 10%;
}


/*contact us page*/
.location{
width: 100%;
margin-bottom: auto;
padding: 80px 0;

}
.location iframe{
    width: 100%;
}

.sndbtn{

 display: inline-block;
    text-decoration: none;
    color:rgb(0, 0, 0);
    border: 1px solid rgb(245, 194, 25);
    padding: 15px 34px;
    position: relative;
    cursor: pointer;
}
.sndbtn:hover{
border: 1px solid rgba(255, 0, 98, 0.733) ;
background: rgba(255, 0, 98, 0.733);
transition:1s;
}
.contact-col input, .contact-col textarea{
width: 100%;
padding: 15px;
margin-bottom: 17px;
outline: none;
border: 1px solid #ccc;
box-sizing: border-box;
}